* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Nav */
#main-nav {
    height: 80px;
}

#main-nav ul{
    padding-top: 5px;
}

#main-nav .container {
    display: flex;
    flex-direction: column;
    width: 100%;    
}

#main-nav .container ul li {
    margin-right: 25px;

}

#main-nav .container ul{
    margin-left: 20px;
}


/* Gallery */
.flex-row {
    flex-direction:column;
    height: auto;
}

.flex-row .flex-column {
    flex: 100%;
    max-width: 100%;
}

.flex-container {
    flex-direction: column;
}

#video-selection {
    flex-direction: column;
    height: auto;
}

#video-selection img {
    max-width: 100%;
    margin: 10px 10px;
}



